.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    margin: 50px;
}
.delete-link{
    text-decoration: none;
}
.btn-proceed{
    background: #FF9900;
    margin-top: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 56px;
    border-radius: 4px;
    color: white;
}